<div class="container bootstrap snippet">
  <h1 class="text-center">User Management</h1>
  <div class="row ng-scope">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-128.png" alt="Contact"></div>
          <h3 class="m0 text-bold">{{User.firstName}} {{User.lastName}}</h3>
          <div class="mv-lg">
            <p>Hello</p>
          </div>
          <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">       
          <div class="h4 text-center">User Information</div>
          <div class="row pv-lg">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <form class="form-horizontal ng-pristine ng-valid" #form="ngForm" (ngSubmit)="editUser(form)">
                <!-- firstName input// -->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="first-name">FirstName</label>
                  <div class="col-sm-10">
                    <input id="first-name" type="text" [(ngModel)]="User.firstName" required name="firstName" class="form-control" placeholder="First name" tmFocus #firstName="ngModel" minlength="3">
                  </div>
                </div>

                <!-- firstName validate// -->
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="col-sm-10">
                  <small *ngIf="firstName.errors.required" style="color:red">
                    First Name is required.
                  </small>
                  <small *ngIf="firstName.errors.minlength" style="color:red">
                    First Name is at least 3 character
                  </small>
                </div><!-- form-group// -->
                <!-- lastName input// -->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="last-name">LastName</label>
                  <div class="col-sm-10">
                    <input id="last-name" type="text" [(ngModel)]="User.lastName" required name="lastName" class="form-control" placeholder="Last name" #lastName="ngModel" minlength="3">
                  </div>
                </div>

                <!-- lastName validate// -->
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="col-sm-10">
                  <small *ngIf="lastName.errors.required" style="color:red">
                    Last Name is required.
                  </small>
                  <small *ngIf="lastName.errors.minlength" style="color:red">
                    Last Name is at least 3 character
                  </small>
                </div><!-- form-group// -->
                <!-- Email input// -->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="email">Email</label>
                  <div class="col-sm-10">
                    <input id="email" [disabled]="true" type="text" [(ngModel)]="User.email" validateEmail name="email" class="form-control" #email="ngModel">
                  </div>
                </div>
                <!-- Email Validate// -->
                <div>
                  <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger col-sm-10">Please enter a valid email</small>
                </div><!-- form-group// -->

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputContact3">Phone</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="inputContact3" type="text" value="(123) 465 789">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputContact5">Website</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="inputContact5" type="text" value="http://some.wesbite.com">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="location">Location</label>
                  <div class="col-sm-10">
                    <input id="location" type="text" [(ngModel)]="User.location" required name="location" class="form-control" placeholder="Location">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn  btn-info btn-space" [disabled]="form.invalid">Save</button>
                    <button type="reset" class="btn btn-primary btn-space" routerLinkActive="active" routerLink="/dashboard/management">Cancel</button>

                  </div>
                </div>
                <div *ngIf="errors" class="alert alert-danger" role="alert">
                  <strong>Oops!</strong> {{errors}}
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
