
<div>
  <div class="text-center">
    <h1>User Management</h1>
  </div>

  <div class="col-md-6">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-white">
          <h4 class="card-title">Create An New User</h4>
        </div>

        <div class="card-block">
          <form #form="ngForm" novalidate (ngSubmit)="createUser(form)">
            <div class="form-group">
              <label for="first-name"> First name</label>
              <input id="first-name" type="text" required name="firstName" class="form-control" placeholder="Your first name" tmFocus ngModel>
            </div>

            <div class="form-group">
              <label for="last-name"> Last name</label>
              <input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Your last name" ngModel>
            </div>

            <div class="form-group">
              <label for="email"> Email</label>
              <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
              <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
            </div>

            <div class="form-group">
              <label for="password"> Password</label>
              <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
            </div>

            <div class="form-group">
              <label for="role"> Role</label>
              <input id="role" type="text" required name="role" class="form-control" placeholder="Role" ngModel>
            </div>

            <div class="form-group">
              <label for="location"> Location</label>
              <input id="location" type="text" required name="location" class="form-control" placeholder="Location" ngModel>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid"> Sign Up</button>
              <button type="reset" class="btn btn-primary" routerLinkActive="active" routerLink="/dashboard/management">Cancel</button>
            </div>

            <div *ngIf="errors" class="alert alert-danger" role="alert">
              <strong>Oops!</strong> {{errors}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
