<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="user-profile-2" class="user-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs padding-18">
      <li class="active">
        <a data-toggle="tab" href="#home">
          <i class="green ace-icon fa fa-user bigger-120"></i>
          Profile
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#feed">
          <i class="orange ace-icon fa fa-rss bigger-120"></i>
          Activity Feed
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#friends">
          <i class="blue ace-icon fa fa-users bigger-120"></i>
          Friends
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#pictures">
          <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
          Pictures
        </a>
      </li>
    </ul>

    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane in active">
        <div class="row">
          <div class="col-xs-12 col-sm-3 center">
            <span class="profile-picture">
              <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </span>

            <div class="space space-4"></div>

            <a href="#" class="btn btn-sm btn-block btn-success">
              <i class="ace-icon fa fa-plus-circle bigger-120 .btn-space"></i>
              <span class="bigger-110 .btn-space">Edit Profile</span>
            </a>

            <a href="#" class="btn btn-sm btn-block btn-primary">
              <i class="ace-icon fa fa-envelope-o bigger-110 .btn-space"></i>
              <span class="bigger-110 .btn-space">Do Something</span>
            </a>
          </div><!-- /.col -->

          <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
              <span class="middle">{{userDetails.firstName}} {{userDetails.lastName}}</span>

              <!--<span class="label label-purple arrowed-in-right">
                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
               
              </span>-->
            </h4>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> Email </div>

                <div class="profile-info-value">
                  <span>{{userDetails.userName}}</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Location </div>

                <div class="profile-info-value">
                  <i class="fa fa-map-marker light-orange bigger-110"></i>
                  <span>{{userDetails.location}}</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Age </div>

                <div class="profile-info-value">
                  <span>38</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Joined </div>

                <div class="profile-info-value">
                  <span>2010/06/20</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Last Online </div>

                <div class="profile-info-value">
                  <span>3 hours ago</span>
                </div>
              </div>
            </div>

            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> Website </div>

                <div class="profile-info-value">
                  <a href="#" target="_blank">www.TEST.com</a>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name">
                  <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                </div>

                <div class="profile-info-value">
                  <a href="#">Find me on Facebook</a>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name">
                  <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                </div>

                <div class="profile-info-value">
                  <a href="#">Follow me on Twitter</a>
                </div>
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="widget-box transparent">
              <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                  <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                  Little About Me
                </h4>
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <p>
                     Life is such chaos, and I am so tired.
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /#home -->
</div>
    </div></div>
