<!--div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-white">
          <h4 class="card-title">Update User Account Detail</h4>
        </div>
        <div class="card-block">
          <form #form="ngForm" novalidate (ngSubmit)="registerUser(form)">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" [disabled]="true" type="text" [(ngModel)]="User.email" name="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="first-name">First name</label>
              <input id="first-name" [disabled]="true" type="text" [(ngModel)]="User.firstName" required name="firstName" class="form-control" placeholder="Your first name" tmFocus>
            </div>

            <div class="form-group">
              <label for="last-name">Last name</label>
              <input id="last-name" [disabled]="true" type="text" [(ngModel)]="User.lastName" required name="lastName" class="form-control" placeholder="Your last name">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" routerLinkActive="active" routerLink="/dashboard/management">Back</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="text-center"><h1>User Management</h1></div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{User.firstName}} {{User.lastName}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://image.flaticon.com/icons/svg/3/3641.svg" class="img-circle"> </div>
            <div class=" col-md-9 col-lg-9 ">

              <table class="table table-user-information ">
                <tbody>
                  <tr>
                    <td>Department:</td>
                    <td>Programming</td>
                  </tr>
                  <tr>
                    <td>Hire date:</td>
                    <td>06/23/2013</td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>01/24/1988</td>
                  </tr>

                  <tr>
                    <td>Gender</td>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <td>Home Address</td>
                    <td>{{User.location}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><a href="#">{{User.email}}</a></td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td>
                      123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                    </td>
                </tbody>
              </table>
              <div class="row justify-content-center">
                <!--<a href="#" class="btn btn-primary btn-space">Edit User</a>-->
                <a href="#" class="btn btn-primary btn-space" routerLinkActive="active" routerLink="/dashboard/management/">Back</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
