<div>
  <div class="container">
    <div class="text-center">
      <h1>User Management</h1>
      <div>
        <table class="table table-striped">
          <thead>
            <tr><td><button class="btn" href="#" routerLinkActive="active" routerLink="/dashboard/management/create">Create User</button></td></tr>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagedItems, index as i">
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.email}}</td>
              <td>
                <a class="btn btn-primary btn-space" (click)="getUserDetail(i)">Detail</a>
                <a class="btn btn-primary btn-space" (click)="editUser(i)">Edit</a>
                <a class="btn btn-danger btn-space" (click)="deleteUser(i)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
