<!--div class="row">
  <div class="col-md-6 new-user-alert">
    <div *ngIf="brandNew" class="alert alert-success" role="alert">
      <strong>All set!</strong> Please login with your account
    </div>
    <h2>Login</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form #form="ngForm" novalidate (ngSubmit)="login(form)">

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
        <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
      </div>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
    </form>
  </div>
</div>--><div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover" routerLinkActive="active" routerLink="/register">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #form="ngForm" novalidate (ngSubmit)="login(form)">

      <div class="fadeIn second">
        <input id="email" type="text" required name="email" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
      </div>
      <div> <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small></div>

      <div class="fadeIn third ">
        <input type="password" class="" id="password" required name="password" placeholder="Password" ngModel>
      </div>

      <div class="form-group .fadeIn fourth ">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
      </div>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> {{errors}}
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
