<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
  <br> 

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>

      <form #form="ngForm" novalidate (ngSubmit)="registerUser(form)">

        <!-- firstName input// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input id="first-name" type="text" required name="firstName" class="form-control" placeholder="Your first name" tmFocus ngModel #firstName="ngModel" minlength="3">
        </div>

        <!-- firstName validate// -->
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
          <small *ngIf="firstName.errors.required" style="color:red">
            First Name is required.
          </small>
          <small *ngIf="firstName.errors.minlength" style="color:red">
            First Name is at least 3 character
          </small>
        </div><!-- form-group// -->
        <!-- lastName input// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Your last name" ngModel #lastName="ngModel" minlength="3">
        </div>

        <!-- lastName validate// -->
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <small *ngIf="lastName.errors.required" style="color:red">
            Last Name is required.
          </small>
          <small *ngIf="lastName.errors.minlength" style="color:red">
            Last Name is at least 3 character
          </small>
        </div><!-- form-group// -->
        <!-- Location input// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i></span>
          </div>
          <input id="location" type="text" required name="location" class="form-control" placeholder="Location" ngModel #location="ngModel">
        </div> <!-- form-group// -->


        <!-- Email input// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input id="email" type="email" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
        </div>
        <!-- Email Validate// -->
        <div>
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
        </div><!-- form-group// -->
        <!-- Password input// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel #password="ngModel" minlength="6">
        </div>

        <!-- Password Validate// -->
        <div *ngIf="password.invalid && (lastName.dirty || lastName.touched)">
          <small *ngIf="password.errors.minlength" style="color:red">
            Password is at least 3 character
          </small> <!-- form-group// -->
        </div>

        <!-- Submit Button// -->
        <div class="form-group">
          <button type="submit" class="btn  btn-primary btn-block" [disabled]="form.invalid">Sign Up</button>
        </div> <!-- form-group// -->
        <!-- Error console// -->
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>

        <p class="text-center">Have an account? <a routerLinkActive="active" routerLink="/login">Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->
</div>

<!--container end.//-->
